

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    padding-right: 5px;
}


th.links-grid{
    width:60px;
}

.links-grid{
    text-align:center;
    font-size:larger;
}

.links-grid a{
    margin-right: 10px;
}

.color-red{
    color:red;
}
.color-blue{
    color:blue;
}


.buttons-submit-cancel > div, .buttons-submit-cancel button{
    float:right!important;
}

.buttons-submit-cancel button{
    margin-right:10px;    
}

form.form-control {
    border:none;
}

.form-new-resume,.form-new-resume div{
    padding:0px;
    padding-bottom:2px;
}

button i{
    padding-right:5px;
}

.loginscreen.middle-box{
    width:400px;
}

.logo-name{
    margin-bottom: 30px;
}

/*-- Global --*/
textarea {
    resize: none;
}

.display-none {
    display: none;
}

.display-table-cell {
    display: table-cell;
}

.vertical-align-middle {
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

.display-table {
    display: table;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.color-blue {
    color: blue;
}

.color-green {
    color: #0b846b;
}

.align-middle {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    -ms-align-items: center;
    -webkit-align-items: center;
    align-items: center;
}

.item-cancelled {
    text-decoration: line-through;
}

.required-symbol:after {
    content: " *";
    font-weight: bold;
    color: #ed5565;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*-- Animations --*/
.clice-loader-contents {
    margin-top: 15px;
}

.circle-loader {
    margin: 0 auto;
    fill: transparent;
    stroke: #009688;
    stroke-width: 5;
    animation: dash 2s ease infinite,rotate 2s linear infinite;
    width: 40px;
    height: 40px;
    background: transparent;
}

@keyframes dash {
    0% {
        stroke-dasharray: 1,95;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 85,95;
        stroke-dashoffset: -25;
    }

    100% {
        stroke-dasharray: 85,95;
        stroke-dashoffset: -93;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loginscreen.middle-box{
    padding-top:7px;
}

.group-label label{
        text-align:left!important;
}

.group-label {
    margin-bottom:2px;
}

.form-horizontal .col-lg-1, .form-horizontal .col-lg-10, .form-horizontal .col-lg-11, .form-horizontal .col-lg-12, .form-horizontal .col-lg-2, .form-horizontal .col-lg-3, .form-horizontal .col-lg-4, .form-horizontal .col-lg-5, .form-horizontal .col-lg-6, .form-horizontal .col-lg-7, .form-horizontal .col-lg-8, .form-horizontal .col-lg-9, .form-horizontal .col-md-1, .form-horizontal .col-md-10, .form-horizontal .col-md-11, .form-horizontal .col-md-12, .form-horizontal .col-md-2, .form-horizontal .col-md-3, .form-horizontal .col-md-4, .form-horizontal .col-md-5, .form-horizontal .col-md-6, .form-horizontal .col-md-7, .form-horizontal .col-md-8, .form-horizontal .col-md-9, .form-horizontal .col-sm-1, .form-horizontal .col-sm-10, .form-horizontal .col-sm-11, .form-horizontal .col-sm-12, .form-horizontal .col-sm-2, .form-horizontal .col-sm-3, .form-horizontal .col-sm-4, .form-horizontal .col-sm-5, .form-horizontal .col-sm-6, .form-horizontal .col-sm-7, .form-horizontal .col-sm-8, .form-horizontal .col-sm-9, .form-horizontal .col-xs-1, .form-horizontal .col-xs-10, .form-horizontal .col-xs-11, .form-horizontal .col-xs-12, .form-horizontal .col-xs-2, .form-horizontal .col-xs-3, .form-horizontal .col-xs-4, .form-horizontal .col-xs-5, .form-horizontal .col-xs-6, .form-horizontal .col-xs-7, .form-horizontal .col-xs-8, .form-horizontal .col-xs-9{
    padding-left: 0px;
    padding-right: 5px;
}

.form-horizontal .form-group{
    margin-left: 0px;
    margin-right: 0px;
}

.form-group .input-group {
    width: 100%;
}